<p id="notice"><%= notice %></p>

<h1>Campaign Colors</h1>

<table>
  <thead>
    <tr>
      <th>Campaign</th>
      <th>Hex value</th>
      <th>Color type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaign_colors.each do |campaign_color| %>
      <tr>
        <td><%= campaign_color.campaign %></td>
        <td><%= campaign_color.hex_value %></td>
        <td><%= campaign_color.color_type %></td>
        <td><%= link_to 'Show', campaign_color %></td>
        <td><%= link_to 'Edit', edit_campaign_color_path(campaign_color) %></td>
        <td><%= link_to 'Destroy', campaign_color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign Color', new_campaign_color_path %>
