<p id="notice"><%= notice %></p>

<h1>Campaign Target Pages</h1>

<table>
  <thead>
    <tr>
      <th>Campaign</th>
      <th>Target page</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaign_target_pages.each do |campaign_target_page| %>
      <tr>
        <td><%= campaign_target_page.campaign %></td>
        <td><%= campaign_target_page.target_page %></td>
        <td><%= link_to 'Show', campaign_target_page %></td>
        <td><%= link_to 'Edit', edit_campaign_target_page_path(campaign_target_page) %></td>
        <td><%= link_to 'Destroy', campaign_target_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign Target Page', new_campaign_target_page_path %>
